 .header {
    background-color: #3c74a3;
    display: flex;
    padding: 15px;
    color: azure;
    border-radius: 0 0 15px 15px;
    width: 300px;
    justify-content: center;
}

.grids {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
  }
  
  .streamBox {
    /* background-color: yellow; */
    text-align: center;
    margin: 20px 0 20px 0;
  }
  
  .recordButton {
    margin-top: 50px;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
#pincode {
    /* margin: 45px 0 10px 0; */
    width: 250px;
    margin: 20% 0 0 0;
    padding: 10px;
    text-align: center;
    font-size: 16pt;
    border-style: none;
    border-style: none;
    border: solid 2px #3c74a3;
    border-radius: 10px;
    align-items: center;
    transition: border-color 0.2s ease;
}

#pincode:focus {
    border-color: #2a5076;
    outline: none;
}


#recordingButton {
    margin: 10% 0;
    overflow: hidden;
    border-style: none;
    padding: 10px 25px;
    font-size: 22px;
    color: azure;
    border-style: none;
    background-color: #3c74a3;
    border-width: 1px;
    border-radius: 15px;
    transition: background-color 0.2s ease;
}

#recordingButton:active {
    background-color: #336699;
  }

.congrats {
    height: 100vh;
    width: 100vw;
    display: grid;
    background-color: rgb(224, 200, 200);
    place-items: center;
}

h2.congrats  {
    color: 'white';
} 

.streamBox {
    color: #474747;
    padding: 50px;
    /* background-color: aliceblue; */
}
